<h1>Login to your Flashcard account</h1>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/sessions' method='POST'>
  <p class="block mar-b-1">User Name:</p>
  <p><input type='text' name='user_name' tabindex="1"</p>
  <p class="block mar-b-1">Password:</p>
  <p><input type='password' name='password' tabindex="1"</p>
  <p><input type='submit' value='Login'</p>
</form>
