
<h1>Create Flashcard account</h1>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action='/users' method='POST'>
  <p class="block mar-b-1">Username:</p>
  <p><input type='text' name='user[user_name]' tabindex="1" </p>
  <p class="block mar-b-1">Password:</p>
  <p><input type='password' name='user[password]' tabindex="1"</p>
  <p><input type='submit' value='Create Account'</p>
</form>

<h1>NEW DECK</h1>

<main class="form-wrapper" role="main">

   <form method="post" action="/decks/new">
    <label for="user_deck_input">Post name:</label>
    <input id="user_deck_input" name="user[user_name]" type="text" value="<%= @user.try(:user_name) %>">

    <label for="user_body_input">pass:</label>
    <input id="user_body_input" name="article[body]" type="text" value="<%= @article.try(:body) %>">

    <input type="submit" value="Make my post homie!" class="button">
  </form>
</main>
>>>>>>> add some functionality to edit and show pages
