<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <ul class="no-bullets no-margin no-padding right">
    <% if !@authorized %>
      <li class="pipe-separate t-light-green left"> <a href="/users/new">register</a></li>
      <li class="pipe-separate t-light-green left"> <a href="/sessions/new">login</a></li>
      <li class="pipe-separate t-light-green left"> <a href="/">home</a></li>
    <% else %>
      <li class="pipe-separate t-light-green left"> <a href="/users/<%= @user.id %>/entries"><%= @user.user_name %></a></li>
      <li class="pipe-separate t-light-green left">
      <form action='/users/logout' method='POST'>
        <input type='hidden' name ='_method' value="delete">
        <input type='submit' value='logout' class="no-border no-outline no-bg c-green hover-underline">
      </form>
      </li>
      <li class="pipe-separate t-light-green left"> <a href="/">home</a></li>
    <% end %>
  </ul>
  <%= yield %>
</body>
</html>
